@model IEnumerable<DAL.Decoration>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DecorationTitle)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DecorationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecorationCost)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()
                <td>
                    @Html.DisplayFor(modelItem => item.DecorationTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecorationDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecorationCost)
                </td>
                <td><input type="hidden" name="decid" value="@item.DecorationId" /></td>
                <td><input type="submit" value="Add" class="btn btn-default" /></td>
            }

        </tr>
    }

</table>
