

@{
    ViewBag.Title = "Add";
}
<h2>Add New Service</h2>
@Html.ActionLink("Add Food Service", "AddFood", "Service")<br />
@Html.ActionLink("Add Catering Service", "AddCatering", "Service")<br />
@Html.ActionLink("Add Decoration Service", "AddDecoration", "Service")<br />
@Html.ActionLink("Add Photography Service", "AddPhotography", "Service")<br />
@Html.ActionLink("Add New Place", "AddPlace", "Service")<br />