@model IEnumerable<object>
@{
    ViewBag.Title = "Index";
}

<h2>Show All Services</h2>

@{
    List<DAL.Food> Foods = Model.ToList()[0] as List<DAL.Food>;
    List<DAL.Catering> Caterings = Model.ToList()[1] as List<DAL.Catering>;
    List<DAL.Decoration> Decorations = Model.ToList()[2] as List<DAL.Decoration>;
    List<DAL.Place> Places = Model.ToList()[3] as List<DAL.Place>;
    List<DAL.Photography> Photographies = Model.ToList()[4] as List<DAL.Photography>;
}
<h3>Foods</h3>
@if (Foods.Any())
{
    foreach (var item in Foods)
    {
        <li>
            <ol>Name : @item.FoodTitle</ol>
            <ol>Catagory : @item.FoodCategory</ol>
            <ol>Description : @item.FoodDescription</ol>
            <ol>Cost: @item.FoodCost</ol>
            
 
            
        </li>
        <img src="~/img/@Html.DisplayFor(modelItem => item.pic1)" class="img-rounded" alt="Cinque Terre" width="304" height="150">


    }
}
else
{
    <p style="color:red">Food menu added</p>
}
<h3>Caterings</h3>
@if (Caterings.Any())
{
    foreach (var item in Caterings)
    {
        <li>
            <ol>Name : @item.CateringTitle</ol>
            <ol>Catagory : @item.CateringCategory</ol>
            <ol>Description : @item.CateringDescription</ol>
            <ol>Cost:@item.CateringCost</ol>
        </li>
    }
}
else
{
    <p style="color:red">No Catering service added</p>
}
<h3>Decorations</h3>
@if (Decorations.Any())
{
    foreach (var item in Decorations)
    {
        <li>
            <ol>Name : @item.DecorationTitle</ol>
            <ol>Catagory : @item.DecorationCategory</ol>
            <ol>Description : @item.DecorationDescription</ol>
            <ol>Cost:@item.DecorationCost</ol>
        </li>

    }
}
else
{
    <p style="color:red">No decorartion service added</p>
}
<h3>Photographies</h3>
@if (Photographies.Any())
{
    foreach (var item in Photographies)
    {
        <li>
            <ol>Name : @item.PhotographyTitle</ol>
            <ol>Catagory : @item.PhotographyDescription</ol>
            <ol>Cost:@item.PhotographyCost</ol>
        </li>
    }
}
else
{
    <p style="color:red">No Photography service added</p>
}
<h3>Places</h3>
@if (Places.Any())
{
    foreach (var item in Places)
    {
        <li>
            <ol>Name : @item.PlaceTitle</ol>
            <ol>Catagory : @item.PlaceCategory</ol>
            <ol>Description : @item.PlaceDescription</ol>
            <ol>Cost:@item.PlaceCost</ol>
        </li>
        <li></li>
    }
}
else
{
    <p style="color:red">no place added</p>
}   